html, body {
    display: flex;
    flex-direction: column;
}

* {
    box-sizing: border-box;
}

body .content {
    display: flex;
    flex-wrap: wrap;
}

.content .agenda,
.content .informations {
    margin: 1rem;
    display: flex;
    flex-direction: column;
}

.content .informations h2 {
    margin-bottom: .5rem;
}

.content .informations p {
    margin-top: 0;
}

h1 {
    text-align: center;
    color: #2e3d9c;
    width: 100%;
}

h2 {
    color: #2e3d9c;
}

li > ul {
    margin-top: .35rem;
    margin-bottom: .5rem;
}

#menuBar {
    width: max-content;
    margin: auto;
}

.actu {
    background: aliceblue;
    border: 1px solid #e8eef3;
    padding: .5rem;
    margin-bottom: 1rem;
}

.actu h3 {
    margin-top: .35rem;
}
.actu h3 .actu-date {
    padding-right: 1rem;
    float: right;
}

.menuItem {
    /*background: black;*/
    background: #1f683a;
    color: white;
    text-decoration: none;
    padding: 20px;
}

.selected {
    color: #1f683a;
    text-decoration: none;
    padding: 20px;
}

@media screen and (max-width: 640px) {
    .content {
        padding: .5rem;
    }

    .content .agenda {
        flex-basis: 100%;
    }

    .content .informations {
        flex-basis: 100%;
    }
}

@media screen and (min-width: 640px) and (max-width: 720px) {
    .content {
        padding: .5rem;
    }

    .content .agenda {
        flex-basis: 100%;
    }

    .content .informations {
        flex-basis: 100%;
    }
}

@media screen and (min-width: 720px) and (max-width: 960px) {
    .content {
        padding: .5rem;
    }

    .content .agenda {
        flex-basis: 100%;
    }

    .content .informations {
        flex-basis: 100%;
    }
}

@media screen and (min-width: 960px) and (max-width: 1366px) {
    .content {
        padding: 1rem;
    }

    .content .agenda {
        flex-basis: calc(60% - 2rem);
    }

    .content .informations {
        flex-basis: calc(40% - 2rem);
    }
}

@media screen and (min-width: 1366px) {
    .content {
        padding: 1rem 4rem;
    }

    .content .agenda {
        flex-basis: calc(60% - 2rem);
    }

    .content .informations {
        flex-basis: calc(40% - 2rem);
    }
}
