h1 {
	text-align: center;
	color: #2e3d9c;
}

h2 {color: #2e3d9c;}

#menuBar {
    width:max-content;
    margin:auto;
}

.actu {background: aliceblue;}

.menuItem {
	/*background: black;*/
	background: #1f683a;
	color:white;
	 text-decoration: none;
	 padding: 20px;
}
.selected {
	 color: #1f683a;
	 text-decoration: none;
	 padding: 20px;
}
.page {
    width:500px;
    margin:auto;
}
