h1 {
	text-align: center;
	color: #2e3d9c;
}

h2 {color: #2e3d9c;}

li > ul {
	margin-top: .35rem;
	margin-bottom: .5rem;
}

#menuBar {
    width:max-content;
    margin:auto;
}

.actu {
	background: aliceblue;
	border: 1px solid #e8eef3;
	padding: .5rem;
	margin-bottom: 1rem;
}
.actu h3 {
	margin-top: .35rem;
}

.menuItem {
	/*background: black;*/
	background: #1f683a;
	color:white;
	 text-decoration: none;
	 padding: 20px;
}
.selected {
	 color: #1f683a;
	 text-decoration: none;
	 padding: 20px;
}

@media screen and (min-width: 500px) {
    .page {
        width:500px;
        margin:auto;
    }
}
